@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

.iniciarSesion
{
	color: white !important;
}

td
{
    background-color: #45b7b7;
}
th
{
    background-color: black;
    color: white !important;
}
.iniciarSesionInput
{
    margin: 2px 0px;	
	height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.container-ver
{
	background-color: #18d8ce66;
    border-radius: 15px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px #888888;
}

.swal2-popup
{
    font-size: unset !important;
}

li {
 display: block;
 transition-duration: 0.5s;
 font-family: 'Titillium Web', sans-serif !important;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.footer-bottom
{
	margin-top: 25px;
	padding: 20px 0px;
	color: white;
	background-color: #343a40!important;
}
.nav-tabs > li > a:hover, .nav > li > a:hover, .nav > li > a:focus
{
	border: none !important;
	background-color: transparent !important;
}
.nav-tabs > li > a
{
	border: none !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
	color: #555 !important;
    cursor: default !important;
    background-color: #fff !important;
	
}
a
{
	text-decoration: none !important;
}

.note-toolbar .panel-heading
{
    position: inherit !important;
}

.note-editable p
{
    color: black;
    text-align: left;
}

hr
{
	border-top: 1px solid #a2a2a2 !important;
}

#mensajes-error-tabla-receta, #mensajes-error-tabla-actividad, #mensajes-error-imagenes, #mensajes-error,#mensajes-error-tabla
{
	background-color: red;
	border-radius: 8px;
	text-align: left;
	padding: 5px;
	display: none;
	margin-bottom: 5px;
}

table
{
  width: 100%;
  border: 1px solid black;
 
}

.avatar img
{
	max-height: 25px;
}
.panel-body
{
	color: black;
	background-color: #f3f3f3;
	border: 1px solid #bfb9b9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 25px !important;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.buscador
{
	margin-bottom: 50px;
}

h1 a
{
	color:   #78e08f !important;
	text-decoration: none !important;
}

p
{
  font-family: 'Titillium Web', sans-serif !important;
}

h3{
  font-family: 'Titillium Web', sans-serif !important;
}
.ml-2{
  font-family: 'Titillium Web', sans-serif !important;
}

.iniciarSesionInput{
  font-family: 'Titillium Web', sans-serif !important;
}
.btn-lg{
  font-family: 'Titillium Web', sans-serif !important;
}
.float-left{
  font-family: 'Titillium Web', sans-serif !important;
}

.btn-success{
  font-family: 'Titillium Web', sans-serif !important;
}

.text-muted{
  font-family: 'Titillium Web', sans-serif !important;
}

.iniciarSesion{
  font-family: 'Titillium Web', sans-serif !important;
}
.btn-primary{
  font-family: 'Titillium Web', sans-serif !important;
}

.pagination
{
    background-color: transparent !important;
}
.btn-light{
  font-family: 'Titillium Web', sans-serif !important;
}
h4{
  font-family: 'Titillium Web', sans-serif !important;
}

.ordenar
{
  color: white;
  text-align: right;
  font-family: 'Titillium Web', sans-serif;
}

.publicaciones
{
  margin-bottom: 20px;
  display: block;
  font-family: 'Titillium Web', sans-serif;
}

.descripcion
{

  color: black;
}

.card-footer
{
  text-align: right;
  font-family: 'Titillium Web', sans-serif;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #18d8ce;
}

.list-group{
  background-color: transparent !important;
}

.cajaPubli{
  text-align:left !important;
  margin-top: 10px !important;
  border-block-end: 1.5px solid #5b616152 !important;
  border-block-start: 1.5px solid #5b616152 !important;
  border-radius:20px !important;
}


.texto-inicio
{
  color: white;
  margin-top: 50px !important;
  text-align: center;
}

.imagen-inicio
{
  max-height: 46px;
}
.imagen-vita
{
	max-height: 90px;
}
.centrar
{
   margin-left: 34.3%;
}
#headerDer:hover .dropdown{
    margin-top: 0px;
    left: auto;
    right: 0;
}

#headerDer
{
  float: right !important;	
}

#headerDerLogIn {
    position: absolute;
    bottom: 20%;
    right: 0%;
    padding-right: 8px;
}

.respuestaComentario p
{
	color: black;
}

body{
  margin: 0px;
  /*background-image: linear-gradient(to bottom, rgb(36, 36, 36), rgba(255, 255, 255, 0.267));*/
  background-attachment: fixed;
	/*background-color: #bcdccd !important;*/
  /*background-image: url("/archivos/Fondos/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;*/
}

#index-default
{
	background-color: white !important;
  /*background-image: url("/archivos/Fondos/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;*/
	
}

h1{
  font-family: 'Titillium Web', sans-serif !important;
  font-size: 80px !important;
  color: rgb(18, 209, 114);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.603);
}

.descHome{

  font-family: 'Titillium Web', sans-serif;

  color: rgb(0, 0, 0);
  /*-webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;*/
  letter-spacing: 2px;
  text-transform: uppercase;
}

#selectObjetivos{
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}

#buscar{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color:#18d8ce;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}

h2{
  font-family: 'Titillium Web', sans-serif !important;
}

.mt-sm-4{
  font-family: 'Titillium Web', sans-serif !important;

}

.mt-sm-2{
  font-family: 'Titillium Web', sans-serif !important;

}

#objetivosList{
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  width: 90%;
}

#nombrePag{
  text-align: center;
}

#headerIzq{
  float: left;
}

a{
  font-family: 'Titillium Web', sans-serif;

}

li a {
  display: block;
  color: #5a595a;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
  text-decoration: none;
}

datalist{
   align-content:center;
}

.carousel-indicators{
  align-content: center;
  margin: auto;
  font-size: 50px;
}

.modal-title{
  font-family: 'Titillium Web', sans-serif;
}
.media-heading{
  font-family: 'Titillium Web', sans-serif;
}
span{
  font-family: 'Titillium Web', sans-serif;
}
.card-title{
  font-family: 'Titillium Web', sans-serif;
}
.card-text{
  font-family: 'Titillium Web', sans-serif;
}



.carousel-img{
  display: block;
  align-content: center;
  margin: auto;
  height: 400px;
  width: 600px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.548);
  /*border-style: solid;
  border-color: black;
  border-width: 5px;*/
}

.verContainer{
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
}

.verContainer div{
  /*border: 5px solid black;*/
  width: auto;
  height: auto;
  display: inline-block;
  font-size: 40px;
  font-family: 'Titillium Web', sans-serif;
}

.row{
  text-align: center;
}

.descPub{
  margin-top: 20px;
}

.headContainer{
  text-align: center;
  padding-bottom: 10px;
}

.headContainer div{
  /*border: 5px solid black;*/
  width: auto;
  height: auto;
  display: inline-block;
  font-size: 40px;
  font-family: 'Titillium Web', sans-serif;
}



#userCardBody{
  /*background: linear-gradient(#18d8ce, #9198e5);*/
  /*background: linear-gradient(#18d8ce, #18eee3);*/
  background: #18d8ce;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.548);
  width: 240px;
  height: 145px;
  border-left: 7px solid #0d9b94;
  border-radius: 0px 15px 15px 0px;
}

#userCardTitle, #userCardText{
  color:black;
}

.userImg:hover{
  transform:scale(1.5);
}

.userImg{
  transition: all 0.5s ease;
  /*box-shadow: 10px 10px 10px rgba(0,0,0,0.548);*/
  /*border-radius: 50%;*/
}


.button1{
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 12px;
}
.card-inner{
  margin-left: 4rem;
  border-top-color: transparent !important;
}
.panel-body{
  background-color: #18d8ce;
}
.mr5{
  font-family: 'Titillium Web', sans-serif;
}
td{
  font-family: 'Titillium Web', sans-serif;
}
.control-label{
  color: #132f4b;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
}
.text-center{
  color: #132f4b;
  font-family: 'Titillium Web', sans-serif !important;
}
.form-control{
  font-family: 'Titillium Web', sans-serif !important;
}
.cmmntTexto{
  color: black;
  text-align: left;
}

/*AGREGADO*/
.tutclase {
  font-family:'Titillium Web', sans-serif; 
  font-weight: bold; font-size: 50px !important; 
  background: #464545; 
  -webkit-background-clip: text; 
  -moz-background-clip: text; 
  background-clip: text; 
  color: transparent; 
  text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
  }

  /*AGREGADO*/

  .lines-effect {
    display: inline-block;
    position: relative;
    font-family: 'Titillium Web', sans-serif;
}

.lines-effect::after, .lines-effect::before{
    content:'';
    position: absolute;
    width: 140px;
    height: 2px;
    background-color: currentColor;
    top: 0.6em;
}

.lines-effect::after{
    left: -160px;
}

.lines-effect::before{
    right: -160px;
}

/*PARA INDICADOR DE BORRADOR (Y TAMBIEN PUEDE SERVIR PARA OTROS)*/
.box {
  width: 200px; height: 300px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;
}
.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F79E05 0%, #CF7923 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #CF7923;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #CF7923;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #CF7923;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #CF7923;
}