.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

p
{
	color: white;
}

.pagination
{
    background-color: transparent !important;

}

.ordenar
{
	color: white;
	text-align: right;	
}

.publicaciones
{
	margin-bottom: 20px;
}


.descripcion
{
	color: black;
}

.card-footer
{
	text-align: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgba(255, 255, 255, 0.47);
}

.texto-inicio
{
	color: white;
	margin-top: 50px !important;
	text-align: center;
}

.imagen-inicio
{
	max-height: 80px;
}

#headerDer {
  float: right;
}

body{
  margin: 0px;
  background-image: linear-gradient(to bottom right, rgb(49, 103, 252), rgb(6, 211, 160));
  background-attachment: fixed;
}

h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 80px !important;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgba(123, 198, 248, 0.466);
}

h3, h5{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(255, 255, 255);
}

#selectObjetivos{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  margin-top: 40px; 
  text-align: center;
}

#buscar{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: rgba(85, 241, 155, 0.774);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}

#botonBuscar{
}

#objetivosList{
  text-align: center;
  width: 90%;
}

#nombrePag{
  text-align: center;
}

#headerIzq{
  float: left;  
}

li a {
  display: block;
  color: #5a595a;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #80d3fa;
  text-decoration: none;
}

datalist{
   align-content:center;
} 

.carousel-indicators{
  align-content: center;
  margin: auto;
}

.carousel-img:hover{
  transform:scale(0.9);
}

.carousel-img{
  display: block;
  align-content: center;
  margin: auto;
  height: 300px;
  width: 700px;
  border-radius: 20px;
  transition: all 0.5s ease;
  border-style: solid;
  border-color: black;
  border-width: 5px;
}

.verContainer{
  text-align: center;
  padding-bottom: 10px;
}

.verContainer div{
  /*border: 5px solid black;*/
  width: auto;
  height: auto;
  display: inline-block;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.row{
  text-align: center;
}

.col-md-11 h1{
  /*border: 5px solid black;*/
  width: auto;
  height: auto;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

.col-md-1{
  /*border: 5px solid black;*/
  width: auto;
  height: auto;
  display: block;
  align-content: center;
}

.divLine{
  text-align: center;
}

.line{
  display: inline-block;
  position: relative;
}

.line::after, .line::before{
  content: "";
  position: absolute;
  width: 600px;
  height: 3px;
  background-color: black;
  top: 0.6em;
}

.line::before{
  left:-650px;
}

.line::after{
  right:-650px;
}
